<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload File</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</head>
<body>
<div class="container mt-5">
    <h1 class="mb-3">Upload File</h1>
    <form action="{{ url_for('results') }}" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="file">Please upload an ELAN file with Makurap transcription in IPA. The transcription to orthography transformation can be tested below. </label>
            <input type="file" class="form-control" id="file" name="file">
        </div>
        <button type="submit" class="btn btn-primary">Upload</button>
    </form>

    <h2 class="mt-5">Real-time Orthography Transformation</h2>
    <div class="form-group">
        <label for="phonetic-input">Phonetic Input</label>
        <textarea class="form-control" id="phonetic-input" rows="3"></textarea>
    </div>
    <div class="form-group">
        <label for="orthographic-output">Orthographic Output</label>
        <textarea class="form-control" id="orthographic-output" rows="3" readonly></textarea>
    </div>
</div>

<script>
    $(document).ready(function() {
        $('#phonetic-input').on('input', function() {
            var phoneticText = $(this).val();
            $.ajax({
                url: "{{ url_for('transform') }}",
                type: "POST",
                contentType: "application/json",
                data: JSON.stringify({phonetic_text: phoneticText}),
                success: function(response) {
                    $('#orthographic-output').val(response.orthographic_text);
                }
            });
        });
    });
</script>
</body>
</html>
